<!-- confirmation.hbs -->
<p>Bonjour,</p>
<p>{{ name }} a demandé un rendez-vous.</p>

<p>Ci-dessous les détails :</p>
<ul style="list-style: square;">
    <li>Telephone : {{tel}}</li>
    <li>Date : {{date}}</li>
    <li>Heure : {{heure}}</li>
    <li>Docteur : {{doctor}}</li>
    <li>Mode de paiement : {{paiement}}</li>
    <li>Type : {{type}}</li>
</ul>
<br>
<div class="row" style="font-family: Arial, Helvetica, sans-serif;">
    <p>ASSISTANCE PLUS</p>
    Plateforme de prise de rendez-vous en ligne<br>
</div>